
@import "tailwindcss";



@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}

nav {
  margin-bottom: 0 !important;
  border: none !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}


